<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>FIGMA | Макеты для верстки — Верстка страницы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Макет для верстки сайта был взял с телеграм канала FIGMA | Макеты для верстки">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <!-- Начало: Данный блок удалять нельзя -->
    <div class="maketforfigma">
        <a href="https://t.me/s/FigmaToHTML" target="_blank">
            <img src="img/logo.png">
        </a>
        <div>
            <p>
                Данная верстка, была реализована пользователем в рамках обучающего телеграм канал <a
                    href="https://t.me/s/FigmaToHTML" target="_blank">FIGMA | Макеты для верстки</a>
            </p>
            <p>
                При помощи <a href="https://t.me/HtmlCodeForMoney_bot?from_git" target="_blank">Telegram-бота</a>
                пользователь получил оплату за верстку этого макета.
            </p>
        </div>
    </div>
    <!-- Конец -->

    <div class="main">
        <div class="header">
            <div class="container">
                <div class="header__content">
                    <a href="#" class="header__logolink">
                        <img src="img/header-logo.svg" alt="" class="header__logo-img">
                    </a>
                    <nav class="header__nav">
                        <ul class="header__list">
                            <li class="header__item">
                                <a href="#" class="header__link">
                                    Home
                                </a>
                            </li>
                            <li class="header__item">
                                <a href="#" class="header__link">
                                    About Us
                                </a>
                            </li>
                            <li class="header__item">
                                <a href="#" class="header__link">
                                    Shop
                                </a>
                            </li>
                            <li class="header__item">
                                <a href="#" class="header__link">
                                    Pages
                                </a>
                            </li>
                            <li class="header__item">
                                <a href="#" class="header__link">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__cart">
                        <a href="#" class="header__cart-link">
                            <img src="img/cart.png" alt="">
                        </a>
                        <span>Cart</span>
                        <span>0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <h1 class="header-main__title title">
                    Made with nature
                </h1>
                <p class="header-main__text">
                    Welcome to the <br>world of nature <br>and organic.
                </p>
                <button class="header-main__btn">
                    Explore Now
                </button>
            </div>
        </div>
        <div class="get">
            <div class="container">
                <div class="get__cards">
                    <div class="get__card card-left">
                        <h2 class="card-left__title title">
                            Natural!!
                        </h2>
                        <p class="card-left__text">
                            Get Garden <br>Fresh Fruits
                        </p>
                    </div>
                    <div class="get__card card-right">
                        <h2 class="card-right__title title">
                            Offer!!
                        </h2>
                        <p class="card-right__text">
                            Get 10% off <br>on Vegetables
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <section class="about">
            <div class="container">
                <div class="about__inner">
                    <img src="img/about/about.png" alt="about img" class="about__img">
                    <div class="about__content">
                        <h2 class="about__title title">
                            About Us
                        </h2>
                        <h3 class="about__content-title">
                            We Believe in Organic <br>Foods For Strong Health
                        </h3>
                        <p class="about__content-text">
                            Welcome to the world of natural and organic. Here you can discover the bounty of nature. We
                            have grown on the principles of health, and care. We aim to give our customers a healthy
                            chemical-free meal for perfect nutrition.
                        </p>
                        <div class="about__descr descr">
                            <img src="img/about/1.png" alt="descr img" class="descr__img">
                            <div class="descr__textbox">
                                <h4 class="descr__title">
                                    Organic Foods Only
                                </h4>
                                <p class="descr__text">
                                    The Product that you ordered will be verified that we have or not if have we will
                                    start
                                    to move on with the next step.
                                </p>
                            </div>
                        </div>
                        <div class="about__descr descr">
                            <img src="img/about/2.png" alt="descr img" class="descr__img">
                            <div class="descr__textbox">
                                <h4 class="descr__title">
                                    Quality Standards
                                </h4>
                                <p class="descr__text">
                                    Once your product is packed it will be delivered to your nearby locality you can
                                    directly visit the to buy the product.
                                </p>
                            </div>
                        </div>
                        <button class="about__btn">
                            Shop Now
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="shop">
            <div class="container">
                <h2 class="shop__title title">
                    Organic
                </h2>
                <h3 class="shop__subtitle">
                    Our Products
                </h3>
                <div class="shop__items">
                    <div class="shop__item item">
                        <h4 class="item__title">
                            Vegetable
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/1.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Calabrese Broccoli
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 25.00 USD</span>
                                $ 21.00 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>

                    <div class="shop__item item">
                        <h4 class="item__title">
                            Vegetable
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/2.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Fresh Corn
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 21.23 USD</span>
                                $ 18.00 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>
                    <div class="shop__item item">
                        <h4 class="item__title">
                            Millets
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/3.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Dried Pistachio
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 61.00 USD</span>
                                $ 48.00 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>
                    <div class="shop__item item">
                        <h4 class="item__title">
                            Vegetable
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/4.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Vegan Red Tomato
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 14.00 USD</span>
                                $ 9.37 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>
                    <div class="shop__item item">
                        <h4 class="item__title">
                            Fruits
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/5.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Organic Almonds
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 21.00 USD</span>
                                $ 18.00 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>
                    <div class="shop__item item">
                        <h4 class="item__title">
                            Millets
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/6.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Brown Hazelnut
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 43.00 USD</span>
                                $ 34.00 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feedback">
            <div class="container">
                <h2 class="feedback__title title">
                    Testimonial
                </h2>
                <h3 class="feedback__subtitle">
                    What Our Customer Saying?
                </h3>
                <article class="article">
                    <img src="img/feedback/author.png" alt="author img" class="article__img">
                    <img src="img/feedback/rating.png" alt="rating img" class="article__rating">
                    <p class="article__text">
                        The quality of organic produce is extremely high, the service is second to none and the taste of
                        the food <br>takes me back to my childhood when we were growing our own.
                    </p>
                    <h4 class="article__author-name">
                        Sara Taylor
                    </h4>
                    <p class="article__client">
                        Consumer
                    </p>
                </article>
                <div class="feedback__line"></div>
                <div class="feedback__description description">
                    <div class="description__item">
                        <div class="description__item-number">
                            100% <span>
                                Organic
                            </span>
                        </div>
                    </div>
                    <div class="description__item">
                        <div class="description__item-number">
                            285 <span>
                                Active Product
                            </span>
                        </div>
                    </div>
                    <div class="description__item">
                        <div class="description__item-number">
                            385+ <span>
                                Organic Orchads
                            </span>
                        </div>
                    </div>
                    <div class="description__item">
                        <div class="description__item-number">
                            25+ <span>
                                Years of Farming
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product">
            <div class="container">
                <h2 class="product__title title">
                    Offer Products
                </h2>
                <div class="product__top">
                    <h3 class="product__top-subtitle">
                        We Offer Organic for You
                    </h3>
                    <button class="product__top-btn">
                        View All products
                    </button>
                </div>
                <div class="product__items">
                    <div class="product__item item">
                        <h4 class="item__title">
                            Vegetable
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/4.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Vegan Red Tomato
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 14.00 USD</span>
                                $ 9.37 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>
                    <div class="product__item item">
                        <h4 class="item__title">
                            Fruits
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/5.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Organic Almonds
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 21.00 USD</span>
                                $ 18.00 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>
                    <div class="product__item item">
                        <h4 class="item__title">
                            Vegetable
                        </h4>
                        <a href="#" class="item__link">
                            <img src="img/shop/2.png" alt="item__img" class="item__img">
                        </a>
                        <h5 class="item__subtitle">
                            Fresh Corn
                        </h5>
                        <div class="item__box">
                            <div class="item__price">
                                <span>$ 21.23 USD</span>
                                $ 18.00 USD
                            </div>
                            <a href="#" class="item__box-link">
                                <img src="img/shop/rating.png" alt="rating img" class="item__rating">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="eco">
            <div class="container">
                <div class="eco__inner">
                    <div class="eco__descr">
                        <h2 class="eco__title title">
                            Eco Friendly
                        </h2>
                        <h3 class="eco__subtitle">
                            From our Farm <br>to your Home.
                        </h3>
                        <div class="eco__description story">
                            <h5 class="story__title">
                                Choose Your Products
                            </h5>
                            <p class="story__text">
                                In our listing, we have several collections of organic products. This is the place where
                                you need to choose the product you want.
                            </p>
                            <h5 class="story__title">
                                Farmers will produce it
                            </h5>
                            <p class="story__text">
                                The Product that you ordered will be verified that we have or not if have we will start
                                to move on with the next step.
                            </p>
                            <h5 class="story__title">
                                We Can Delivery too
                            </h5>
                            <p class="story__text">
                                If you are not comfortable going to the nearby market place we also will deliver your
                                product to your doorstep.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="eco2">
            <div class="container">
                <div class="eco2__items">
                    <div class="eco2__item item1">
                        <a href="#">
                            Fruit Juice
                        </a>

                    </div>
                    <div class="eco2__item item2">
                        <a href="#">Organic Food</a>
                    </div>
                    <div class="eco2__item item3">
                        <a href="#">Nuts Cookies</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="news">
            <div class="container">
                <h2 class="news__title title">
                    News
                </h2>
                <div class="news__top">
                    <h3 class="news__top-subtitle">
                        Discover The recent content about organic products
                    </h3>
                    <button class="news__top-btn">
                        More News
                    </button>
                </div>
                <div class="news__content content">
                    <div class="content__left">
                        <img src="img/news/1.png" alt="news img" class="content__left-img">
                        <article class="article">
                            <div class="article__username">
                                Kristina Castle
                            </div>
                            <h5 class="article__title">
                                Everything You Need to Know About Organic
                            </h5>
                            <p class="article__text">
                                Organic farming is the only way that you still can experience the real world.
                            </p>
                            <a href="#" class="article__link">
                                View More
                            </a>
                        </article>
                    </div>
                    <div class="content__right">
                        <img src="img/news/2.png" alt="news img" class="content__right-img">
                        <article class="article">
                            <div class="article__username">
                                Alex Louis
                            </div>
                            <h5 class="article__title">
                                Organic Fruits: Surprising Benefits and Facts
                            </h5>
                            <p class="article__text">
                                The world of nature has grown on the principles of health, ecology, and care.
                            </p>
                            <a href="#" class="article__link">
                                View More
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <form action="#" class="form">
            <div class="container">
                <div class="form__inner">
                    <h2 class="form__title">
                        Subscribe our <br>Newsletter
                    </h2>
                    <div class="form__mode">
                        <label lass="form__label">
                            <input type="email" class="form__input" placeholder="Enter your email address">
                        </label>
                        <button class="form__btn" type="submit">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <footer class="footer">
            <div class="container">
                <div class="footer__contacts">
                    <div class="footer__contact left">
                        <h4 class="footer__contact-title">
                            Contact Us
                        </h4>
                        <div class="footer__contact-subtitle">
                            Email
                            <a href="mailto:needhelp@organick.com" class="footer__contact-link">
                                needhelp@organick.com
                            </a>
                        </div>
                        <div class="footer__contact-subtitle">
                            Phone
                            <a href="tel:12312541452" class="footer__contact-link">
                                123 (1254) 1452
                            </a>
                        </div>
                        <div class="footer__contact-subtitle">
                            Address
                            <a href="#" class="footer__contact-link">
                                88 Road, Brooklyn Street, USA
                            </a>
                        </div>
                    </div>
                    <div class="footer__contact center">
                        <a href="#" class="center__logo">
                            <img src="img/header-logo.svg" alt="logo img">
                        </a>
                        <p class="center__text">
                            We are a popular and farming company aspiring to be a leader in the Organic food industry.
                        </p>
                        <ul class="center__social-list">
                            <li class="center__social-item">
                                <a href="#" class="center__social-link">
                                    <img src="img/social/1.png" alt="social img" class="center__social-img">
                                </a>
                            </li>
                            <li class="center__social-item">
                                <a href="#" class="center__social-link">
                                    <img src="img/social/2.png" alt="social img" class="center__social-img">
                                </a>
                            </li>
                            <li class="center__social-item">
                                <a href="#" class="center__social-link">
                                    <img src="img/social/3.png" alt="social img" class="center__social-img">
                                </a>
                            </li>
                            <li class="center__social-item">
                                <a href="#" class="center__social-link">
                                    <img src="img/social/4.png" alt="social img" class="center__social-img">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__contact">
                        <h4 class="footer__contact-title">
                            Utility Pages
                        </h4>
                        <ul class="footer__contact-list">
                            <li class="footer__contact-item">
                                <a href="#" class="footer__contact-link">
                                    Style Guide
                                </a>
                            </li>
                            <li class="footer__contact-item">
                                <a href="#" class="footer__contact-link">
                                    Protected
                                </a>
                            </li>
                            <li class="footer__contact-item">
                                <a href="#" class="footer__contact-link">
                                    Page Not Found
                                </a>
                            </li>
                            <li class="footer__contact-item">
                                <a href="#" class="footer__contact-link">
                                    Changelog
                                </a>
                            </li>
                            <li class="footer__contact-item">
                                <a href="#" class="footer__contact-link">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="footer__copy">
                        <p class="footer__copy-text">
                            Copyright © Organick | Designed by
                        </p>
                        <a href="#" class="footer__copy-link">
                            VictorFlow
                            - Powered by
                            Webflow
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/main.min.js"></script>
</body>

</html>