$text:#274C5B;
$title:#7EB693;


%open-400 {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 400;
}

%open-700 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
}

%rob-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%rob-700 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

%yell-400 {
    font-family: 'Yellowtail-Regular', sans-serif;
    font-weight: 400;
}